/* ------------------------- Обнуление ------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background: #fafafa;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* ------------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
  
}
/* ------------------------------------------------------------------------------- */
.bg {
  background-image: url(
    "https://i.ibb.co/4sCLpWZ/background.png");;
  width: 100%;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  /* position: absolute; */
}
/* ------------------------------------------------------------------------------- */
.first_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 46.9612px;
  line-height: 57px;
  color: #000000;
}

.person_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 62.6149px;
  line-height: 76px;
  color: #000000;
  /* padding-top: 0.1em; */
}

.invitation_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28.8029px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
}

.date_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 55.7273px;
  line-height: 68px;
  color: #000000;
  padding-top: 0.5em;
}

.error_div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* color: white; */
  background: rgb(255, 80, 80);
}

.logo {
  box-sizing: border-box;
  /* position:absolute; */
  width: 60%;

  align-items: center;
  text-align: center; 
  display: block;
  padding-top: 2em;
  margin: 0 auto;

}

.ul {
  flex-direction: column;
}
.list_element {
  display: flex;
  align-items: center;
  text-align: center;
  /* padding-left: 500px; */
}

.form {
  background: #FFFFFF;
  border: 5.17606px solid #636895;
  height: 40px;
  margin-top: 2em;
}
::placeholder {
  font-family: 'Montserrat';
  text-align: center; 
}

.button {
  width: 120px;
  height: 30px;
  background: #7684FB;
  margin-top: 2em;

  font-family: 'Montserrat';
  color: #D7D9FE;
  margin-bottom: 5em;
  cursor: pointer;
}

.button:hover {
  background: #4f55c5;
  transition: ease-in-out 0.3s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
